* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    text-align: center;
}

body {
    background-color: hsla(0, 0%, 0%, 0.75);
}

header {
    background-image: url('../Images/nature-backgrounds_123026774_313.jpg');
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-position-x: center;
    background-position-y: -150px;
}

h1 {
   font-family: Antonio;
   height: 350px;
   line-height: 100px;
   font-size: 62px;
   font-weight: 700;
   color: white;
}

.title-container {
    width: 30%;
    min-width: 280px;
    height: 350px;
    display: inline-block;
    position: absolute;
    left: 10%;
    background-color: hsla(0, 0%, 12%, 0.6);
    overflow: hidden;
}

nav {
    width: 10%;
    min-width: 140px;
    height: 600px;
    display:inline-block;
    background-color: hsla(0, 0%, 12%, 0.6);
    position: absolute;
    right: 2.5%;
}

.statement-container {
    display: inline-block;
    width: 87.5%;
    height: 100px;
    background-image: linear-gradient(0deg, hsla(0, 0%, 12%, 0.6), hsla(0, 0%, 12%, 0.6), hsla(0, 0%, 12%, 0.6), transparent);
    position: absolute;
    left: 0;
    top: 500px;
}

.title-statement {
    display: inline-block;
    width: 60%;
    height: 100px;
    position: absolute;
    right: 25px;
}

.title-statement p {
    font-family: Montserrat;
    color: white;
    font-size: 26px;
    margin-top: 20px;
}

#label {
    font-family: Antonio;
    font-weight: 500;
    font-size: 32px;
    color: white;
    border-bottom: solid white 2px;
    margin: 0 auto;
    padding: 30px 0;
}

.traveler {
    list-style: none;
}

.traveler li {
    margin: 30px 0;
    font-size: 22px;
}

a {
    font-family: Antonio;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #23d7ce;
}

a:active {
    color: #1411ee;
}

.type-container {
    position: relative;
    margin: 15px;
    border: solid 4px #23d7ce;
    border-radius: 30px;
    background-color: hsla(177, 72%, 49%, 0.5);
}

.container-title {
    font-size: 38px;
    font-weight: 700;
    margin: 30px auto 15px;
    color: white;
}

.table-container {
    border: solid white 2px;
    border-radius: 20px;;
    position: relative;
    display: inline-block;
    width: 800px;
    margin: 20px 40px;
    vertical-align: top;
}

.table-container h2,
.table-container h3 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.table-container h2 {
    width: 200px;
    right: 20px;
    border-right: solid white 2px;
    padding: 10px;
}

.table-container h3 {
    position: relative;
    width: 500px;
    vertical-align: middle;
}

table {
    background-color: hsla(0, 0%, 12%, 0.6);
    border-collapse: collapse;
    margin: 0 auto;
    top: 50px;
    border-radius: 20px;
    width: 800px;
    color: white;
}

th {
    padding: 10px;
    font-size: 18px;
    background-color: black;
    border-top: solid white 1px;
}

td {
    border-top: solid gray 1px;
    padding: 5px;
    font-size: 14px;
}

.left,
.middle {
    border-right: solid gray 1px;
}

.code {
    font-family: monospace;
}

h6 {
    display: inline-block;
    color: White;
    padding: 0 75px;
    margin: 50px 0;
    vertical-align: middle;
    border-right: solid white 1px;
    border-left: solid white 1px;
}