body {
    font-family: Helvetica;
    background-image: linear-gradient(135deg, #00cdcd,	#6e8b3d, #404040);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-collapse: collapse;
}

.traveler {
    display: inline-block;
    width: 100%;
    margin: 0px;
    background-color: black;
    color: whitesmoke;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.traveler li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid gray;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    font-family: Verdana;
}    

a {
    color: whitesmoke;
    text-decoration: none;
}

#label {
    border-right: 2px solid whitesmoke;
    font-size: 32px;
}

header {
    min-height: 300px;
    position: relative;
    padding-top: 10px;
    background-image: url("../Images/nature-backgrounds_123026774_313.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -400px;
}

header p {
    font-family: verdana;
    font-size: 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 30%;
    color: whitesmoke;
}

h1 {
    font-family: Verdana;
    font-size: 40px;
    text-align: left;
    position: absolute;
    right: 50%;
    width: 30%;
    margin-top: 0;
    color: whitesmoke;
}

h2 {
    margin-bottom: 5px;
    margin-top: 60px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer h6 {
    display: inline-block;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;;
}

th {
    background-image: radial-gradient(circle, lightgrey, grey);
    border: 1px solid;
}

td {
    background-image: radial-gradient(circle, #b0baa1, #215f36);
    border: 1px solid black;
}

.left {
    width: 15%;
}

.middle {
    width: 20%;
}